/* Color Palette */
:root {
    --bg: #E1E5F2;
    --text: #1e1e1e;
    --accent: #1F7A8C;
    --outline: #022B3A;
    --white: #FFFFFF;
    --textbox: #bfdbf7;
}

/* Global Styles */

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background: var(--white);
    border-bottom: 3px solid var(--outline);
    padding: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    color: var(--accent);
}

.container {
    width: 90%;
    margin: 40px auto;
    max-width: 1100px;
}

h1, h2 {
    margin-top: 0;
}

.card {
    background: var(--textbox);
    padding: 25px;
    border: 2px solid var(--outline);
    border-radius: 10px;
    margin-bottom: 35px;
}

button {
    background: var(--accent);
    color: var(--white);
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    opacity: 0.85;
}

/* Footer */

footer {
    background: var(--accent);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    border-top: 4px solid var(--outline);
    margin-top: 60px;
    font-size: 0.9rem;
}

/* Images */

@media (max-width: 700px) {
    nav{
        flex-direction: column;
        gap: 15px;
    }
    
    button {
        width: 100%;
    }
}