/* Color Palette */
:root {
    --bg: #E1E5F2;
    --text: #1e1e1e;
    --accent: #1F7A8C;
    --outline: #022B3A;
    --white: #FFFFFF;
    --textbox: #bfdbf7;
}

/* Global Styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--accent);
    border-bottom: 3px solid var(--outline);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header{
    background: var(--textbox);
    border: 3px solid var(--outline);
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    color: var(--outline);
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 40px auto;
    max-width: 1100px;
}

h1, h2 {
    margin-top: 0;
}

.card {
    background: var(--textbox);
    padding: 25px;
    border: 2px solid var(--outline);
    border-radius: 10px;
    margin-bottom: 35px;
}

button {
    background: var(--accent);
    color: var(--white);
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    opacity: 0.85;
}

/* Footer */

footer {
    background: var(--accent);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    border-top: 4px solid var(--outline);
    margin-top: auto;
    font-size: 0.9rem;
}

.gallery-grid {
    columns: 4;
    column-gap: 20px;
    padding-top: 20px;
    width: 100%;
}

.gallery-grid img {
    width: 100%;
    margin-bottom: 20px;
    border: solid var(--outline);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    overflow: hidden;
    break-inside: avoid;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

@media (max-width: 1200px) {
    .gallery-grid {
        columns: 3;
    }
}

@media (max-width: 900px) {
    .gallery-grid {
        columns: 2;
    }
}

@media (max-width: 550px) {
    .gallery-grid {
        columns: 1;
    }
}